---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
	background-image: linear-gradient(to bottom, #3c3c3c, #f0f0f0);
}

.wrapper {
	background-color: #f0f0f0;
	max-width: calc(1000px - 10px * 2);
	.post-link {
		padding-top:1em;
	}
	
}

.site-header {
	background-color: #f0f0f0;
}

.site-footer {
	.wrapper {
		background: rgba(0,0,0,0);
	}
}

.site-header {
	background: linear-gradient(90deg, rgba(225, 255, 0, 1) 0%, rgba(255, 31, 31, 1) 73%, rgba(33, 33, 33, 1) 94%);
	border-bottom: 0.1em solid #f8f8f8;
	.wrapper {
		background: none;
	}
}


/*POSTS*/


.post-header {
	padding-top:1em;
}


.image-container {
 	max-width: calc(800px - 10px * 2);
 	text-align: center;
 	
	img {
		padding: 1em;
		margin: 0 auto;
    	display: block;
    	width: 600px;
	}
}

.page-content {
	padding-bottom: 5em;
}


